node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.vscode/settings.json
results.json
errStdErr.txt
normalStdout.txt
results.xml
allure-results/
allure-results_/
allure-report/
allure-report-pdf-html/pie.png
allure-report-pdf-html/test-results.pdf
allure-report-pdf-html/test-results.docx
src/core.json